---
import Container from "./Container.astro";
import { getGlobalData } from "../lib/api";   

const API_URL = import.meta.env.PUBLIC_STRAPI_URL;
const responseGlobal = await getGlobalData();
console.log(responseGlobal);
const textoDerechos = responseGlobal.data.footer.texto_derechos;
const links = responseGlobal.data.footer.Columna.map((link) => ({
    label: link.etiqueta,
    to: link.url,
    logoURL: Array.isArray(link.logo) && link.logo.length > 0
      ? API_URL + link.logo[0].url
      : null,
}));
console.log(links);
---

<footer>
    <nav id="nav" class="absolute group z-10 w-full border-b border-black/5 dark:border-white/5 lg:border-transparent">
        <Container>
            <div class="relative flex flex-wrap items-center justify-between gap-1 py-3 md:gap-0 md:py-4">
                <div class="relative z-20 flex w-full justify-between md:px-0 lg:w-fit">
                    <div class="text-gray-600 dark:text-gray-300 text-sm">
                      © {new Date().getFullYear()} {textoDerechos}. Todos los derechos reservados.
                    </div>
                </div>
                <div id="links-group" class="flex flex-col gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-sm">
                    {
                        links.map((link) => (
                            <a href={link.to} class="hover:text-primary block transition dark:hover:text-white md:px-4">
                                <span>{link.label}</span>
                                <img src={link.logoURL} alt={link.label} class="inline-block h-6 ml-2"/>
                            </a>
                        ))
                    }
                </div>
            </div>
        </Container>
    </nav>
</footer>

