---
import Container from "./Container.astro"
import { getPageData } from "../lib/api";

const API_URL = import.meta.env.VITE_STRAPI_URL;
const responseHome = await getPageData("home-page");

const heroSection = responseHome?.data?.[0]?.Secciones?.find(
  (s) => s.__component === "shared.hero"
);
const mainTitulo = heroSection.Titulo.slice(0, -2);
const lastTitulo = heroSection.Titulo.slice(-2); 

const mainDescripcion = heroSection.Descripcion.slice(0, -7);
const lastDescripcion = heroSection.Descripcion.slice(-7);

const botones = heroSection?.boton_link ?? [];
const img = heroSection.Imagen[0].url ? API_URL + heroSection.Imagen[0].url : null;

console.log(heroSection);

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-red-400 dark:from-orange-700"></div>
        <div class="blur-[80px] h-32 bg-gradient-to-r from-orange-400 to-orange-300 dark:to-red-600"></div>
    </div>


    <Container>
      <header>
        <div class="relative pt-36 ml-auto grid grid-cols-1 md:grid-cols-2 items-center gap-1">
          <div class="lg:w-2/3 text-center mx-auto">
              <h1 class="text-gray-900 text-balance dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">{mainTitulo}<span class="text-primary dark:text-white">{lastTitulo}</span></h1>
              <p class="mt-8 text-gray-700 dark:text-gray-300">{mainDescripcion}<span class="text-primary dark:text-white">{lastDescripcion}</span></p>
              <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                {botones.map((btn, index) => {
                  const isEven = index % 2 === 0;
                  const baseClasses =
                    'relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:transition before:duration-300 active:duration-75 sm:w-max';
                  const colorClasses = isEven
                    ? 'before:bg-primary hover:before:scale-105 active:before:scale-95'
                    : 'before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b hover:before:scale-105 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800';
                  const textClasses = isEven
                    ? 'relative text-base font-semibold text-white'
                    : 'relative text-base font-semibold text-primary dark:text-white';

                  return (
                    <>
                      <a href={btn.url} class={`${baseClasses} ${colorClasses}`}>
                        <span class={textClasses}>{btn.etiqueta}</span>
                      </a>
                    </>
                  );
                })}
              </div>
          </div>
          <div class="lg:w-2/3 text-center mx-auto">
            <img src={img} alt="">
          </div>
        </div>
      </header>
    </Container>
</div>

