---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import { getGlobalData } from "../lib/api";
import "../css/tailus.css"
import "../styles/global.css";

const API_URL = import.meta.env.VITE_STRAPI_URL;

const response = await getGlobalData();
const metaTitle = response.data.defaultSeo.metaTitle;
const metaDescription = response.data.defaultSeo.metaDescription;
const metaKeywords = response.data.defaultSeo.metaKeywords;
const metaIcon = response.data.favicon?.url ? API_URL + response.data.favicon.url : null;
const metaImage = response.data.defaultSeo?.shareImage?.url ? API_URL + response.data.defaultSeo.shareImage.url : null;
const siteName = response.data.siteName;

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={metaIcon} />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={metaDescription} />
        <meta name="keywords" content={metaKeywords} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content={metaTitle} />
        <meta property="og:description" content={metaDescription} />
        <meta property="og:image" content={metaImage} />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content={siteName} />

        
        <title>{siteName}</title>



        <AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
                },
            ]}
        />
    </head>
    <div aria-hidden="true" class="fixed inset-0 -z-10 flex items-center justify-center overflow-hidden pointer-events-none">
      <div class=" border border-zinc-200 p-6 shadow-sm dark:border-zinc-800 dark:bg-zinc-900 absolute inset-0 grid grid-cols-2 -space-x-52 opacity-60 dark:opacity-100">
        <div class="blur-[106px] h-56 w-full bg-gradient-to-br from-primary to-red-400 dark:from-orange-700"></div>
        <div class="blur-[80px] h-32 w-full bg-gradient-to-r from-orange-400 to-orange-300 dark:to-red-600"></div>
      </div>
    </div>
    <body class="bg-white dark:bg-gray-950">

        <AppHeader />

            <slot />
        
        <AppFooter />
        
    </body>
</html>
